:root {
  --max-width: 900px;
  --border-radius: .5rem;
  --font-size:28px;
  --background-back: rgb(51, 51, 51);
  --background-front: rgb(17, 17, 17);
  --text-color: rgb(223, 223, 223);
  --correct-color: rgb(0, 100, 0);
  --incorrect-color: rgb(100, 0, 0);
}

@media screen and (max-width: 550px) {
  :root {
    --font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-back);
  color: var(--text-color);
  font-size: var(--font-size);
}

.container {
  max-width: var(--max-width);
  width: 90%;
  margin-bottom: 20px;
}

.defined {
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 30px;
  background-color: var(--background-front);
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: var(--font-size);
  padding: .5rem;
  background-color: var(--background-front);
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.input-field {
  opacity: 0;
}

.active {
  background-color: var(--background-back);
  border-radius: var(--border-radius);
}

.correct {
  color: var(--correct-color)
}

.incorrect {
  color: var(--incorrect-color);
}

.stats-display {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.stats-display th {
  padding-bottom: 10px;
}

.stats-display td {
  padding: 10px
}
