:root {
  --border-radius: .5rem;
  --font-size:28px;
  --big-font: 2rem;
  --background-back: rgb(51, 51, 51);
  --background-front: rgb(17, 17, 17);
  --text-color: rgb(223, 223, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-back);
  color: var(--text-color);
  font-size: var(--font-size)
}

.container {
  max-width: 900px;
  width: 90%;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 30px;
  margin-bottom: 20px;
  background-color: var(--background-front);
}

/* .input-field {
  opacity: 0;
} */
